<<<<<<< HEAD
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#app{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
=======
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#app{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
>>>>>>> af044e551b938f60addbbd51843ba5de60571109
}